---
production: &default
  serverPort: 9999
  baseUrl: http://www.coding1st.com
  baseApi: /api/
  views:
    engine: .hbs
    extension: .hbs
    layout: main
  html:
    minify: true
    css:
      stylusPrecompile: true
      compress: true
  app:
    default: blog
  languages:
    default: en
    list: [en, es]
  security:
    secret: c0d1ing1st.com
  session:
    cookieDomain: .coding1st.com
    maxAge: 259200
    cookiePrefix: 'c1Session_'
    path: '/'
    httpOnly: true
  social:
    validateSecurityToken: true
    refreshSecurityToken: false
    facebook:
      account: coding1st
      clientId: 123
      clientSecret: xxx
    twitter:
      account: coding1st
      consumerKey: xhDXVvj1SEta3dQKKmkaYfzY0
      consumerSecret: Wkd86DPMruvye8pjYodPkWoJOYcJl206M2dG4qzqqFERrFhEK0
      accessToken:  461804603-6g7EvCZuioUSRwwGKgONbS8QoBERDLtOyb2HaztX
      accessTokenSecret: BiMUCpqkcDhTJYVG5RDC1JhqnN7z29SLvgN5aXIBbcnp2
      callbackUrl: http://local.coding1st.com/auth/twitter/callback
      requestTokenUrl: https://api.twitter.com/oauth/request_token
      accessTokenUrl: https://api.twitter.com/oauth/access_token
      authenticateUrl: https://twitter.com/oauth/authenticate
      apiUrl: https://api.twitter.com/1.1/
      apiVersion: 1.0A
      signMethod: HMAC-SHA1
  database:
    mysql:
      host: localhost
      user: root
      password: '123456'
      database: coding1st
      port: 3306
      debug: true
      socket: /var/mysql/mysql.sock

stage: &stage
  <<: *default
  baseUrl: http://stage.coding1st.com

latest: &latest
  <<: *stage
  baseUrl: http://latest.coding1st.com

development:
  <<: *latest
  baseUrl: http://local.coding1st.com
  html:
    minify: false
    css:
      stylusPrecompile: false
      compress: false
