body
    background-color $almostWhite
    background-image url('../../images/dashboard/bg.gif')
    background-position left
    background-repeat repeat-y
    margin 0
    padding 0

.clearfix
    *zoom 1
    &:after
        content ''
        display block
        clear both
        height 0
